[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.1.4"
dash = "==2.14.2"
numpy = "==1.25.2"
prophet = "==1.1.5"
scikit-learn = "==1.3.2"
dash-bootstrap-components = "==1.5.0"
ansi2html = "==1.8.0"
apturl = "==0.5.2"
bcrypt = "==3.2.0"
beautifulsoup4 = "==4.10.0"
blinker = "==1.7.0"
brlapi = "==0.8.3"
certifi = "==2020.6.20"
cffi = "==1.16.0"
chardet = "==4.0.0"
charset-normalizer = "==3.3.0"
click = "==8.1.7"
cmdstanpy = "==1.2.0"
colorama = "==0.4.4"
command-not-found = "==0.3"
contourpy = "==1.1.0"
cryptography = "==41.0.4"
cupshelpers = "==1.0"
cycler = "==0.11.0"
dash-core-components = "==2.0.0"
dash-daq = "==0.5.0"
dash-html-components = "==2.0.0"
dash-table = "==5.0.0"
dbus-python = "==1.2.18"
defer = "==1.0.6"
deprecation = "==2.1.0"
distlib = "==0.3.4"
distro = "==1.7.0"
distro-info = "==1.1+ubuntu0.2"
dnspython = "==2.4.2"
duplicity = "==0.8.21"
et-xmlfile = "==1.1.0"
fasteners = "==0.14.1"
filelock = "==3.6.0"
flask = "==3.0.0"
fonttools = "==4.42.1"
future = "==0.18.2"
gpg = "==1.16.0"
holidays = "==0.37"
html5lib = "==1.1"
httplib2 = "==0.20.2"
idna = "==3.3"
imageio = "==2.31.5"
img2pdf = "==0.4.4"
importlib-metadata = "==4.6.4"
importlib-resources = "==6.1.1"
imutils = "==0.5.4"
itsdangerous = "==2.1.2"
jeepney = "==0.7.1"
jinja2 = "==3.1.2"
joblib = "==1.3.2"
keyring = "==23.5.0"
kiwisolver = "==1.4.5"
language-selector = "==0.1"
launchpadlib = "==1.10.16"
"lazr.restfulclient" = "==0.14.4"
"lazr.uri" = "==1.0.6"
lazy-loader = "==0.3"
lockfile = "==0.12.2"
louis = "==3.20.0"
lxml = "==4.9.3"
macaroonbakery = "==1.3.1"
mako = "==1.1.3"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.3"
matplotlib = "==3.7.3"
mdurl = "==0.1.2"
monotonic = "==1.6"
more-itertools = "==8.10.0"
nest-asyncio = "==1.5.8"
netifaces = "==0.11.0"
networkx = "==3.1"
notify2 = "==0.3"
oauthlib = "==3.2.0"
ocrmypdf = "==15.2.0"
olefile = "==0.46"
opencv-python = "==4.8.1.78"
openpyxl = "==3.1.2"
packaging = "==23.1"
paramiko = "==2.9.3"
patsy = "==0.5.4"
"pdfminer.six" = "==20221105"
pexpect = "==4.8.0"
pickle5 = "==0.0.11"
pikepdf = "==8.5.1"
pillow = "==10.0.1"
pipenv = "==11.9.0"
platformdirs = "==2.5.1"
plotly = "==5.18.0"
pluggy = "==1.3.0"
protobuf = "==3.12.4"
ptyprocess = "==0.7.0"
pycairo = "==1.20.1"
pycparser = "==2.21"
pycups = "==2.0.1"
pygments = "==2.16.1"
pygobject = "==3.42.1"
pyjwt = "==2.3.0"
pymacaroons = "==0.13.0"
pymongo = "==4.5.0"
pynacl = "==1.5.0"
pyparsing = "==2.4.7"
pypdf2 = "==3.0.1"
pyqt5 = "==5.15.6"
pyqt5-sip = "==12.9.1"
pyrfc3339 = "==1.1"
pysocks = "==1.7.1"
python-apt = "==2.4.0+ubuntu2"
python-dateutil = "==2.8.2"
python-debian = "==0.1.43+ubuntu1.1"
python-dotenv = "==1.0.0"
pytz = "==2022.1"
pyxdg = "==0.27"
pyyaml = "==5.4.1"
reportlab = "==3.6.8"
requests = "==2.25.1"
retrying = "==1.3.4"
rich = "==13.6.0"
scikit-image = "==0.22.0"
scipy = "==1.11.3"
seaborn = "==0.12.2"
secretstorage = "==3.3.1"
six = "==1.16.0"
soupsieve = "==2.3.1"
stanio = "==0.3.0"
statsmodels = "==0.14.1"
systemd-python = "==234"
tenacity = "==8.2.3"
tesserocr = "==2.6.2"
threadpoolctl = "==3.2.0"
tifffile = "==2023.9.26"
torbrowser-launcher = "==0.3.3"
tqdm = "==4.66.1"
typing-extensions = "==4.8.0"
tzdata = "==2023.3"
ubuntu-advantage-tools = "==8001"
ubuntu-drivers-common = "==0.0.0"
ufw = "==0.36.1"
unattended-upgrades = "==0.1"
urllib3 = "==1.26.5"
usb-creator = "==0.3.7"
virtualenv = "==20.13.0+ds"
virtualenv-clone = "==0.3.0"
wadllib = "==1.3.6"
webencodings = "==0.5.1"
werkzeug = "==3.0.1"
xdg = "==5"
xkit = "==0.0.0"
zipp = "==1.0.0"

[dev-packages]
black = "*"
pymongo = "*"

[requires]
python_version = "3.10"
